body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h2 {
  text-align: center;
  /* margin-top: 30px; */
  color: #3498db; /* Azul serenity */
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #3498db; /* Azul serenity */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9; /* Azul serenity mais escuro */
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 56px); /* Substitua 56px pela altura da barra de endereço do seu navegador */
}

.form-container {
  width: 100%;
  max-width: 400px; /* Adicionado max-width para limitar a largura do formulário em dispositivos maiores */
  padding: 30px; /* Movido de dentro de form para .form-container */
  background-color: #fff;
}

form {
  margin: 0; /* Removido margin: 0 auto; de form */
}

/* Estilo para o formulário quando estiver em tela pequena */
@media (max-width: 480px) {
  .form-container {
    padding: 20px; /* Movido de form para .form-container */
  }
}
