body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h2 {
  text-align: center;
  /* margin-top: 30px; */
  color: #3498db; /* Azul serenity */
}

form {
  max-width: 400px;
  /* margin: 0 auto; */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #3498db; /* Azul serenity */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9; /* Azul serenity mais escuro */
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Alterado para min-height para garantir que a altura se expanda conforme necessário */
}

.form-container {
  width: 100%;
  margin: 0; /* Adicionado para remover qualquer margem padrão */
}


/* Estilo para o formulário quando estiver em tela pequena */
@media (max-width: 480px) {
  form {
    padding: 20px;
  }
}
